<mat-toolbar class="menu">
  <div class="menu-logo">
    <button class="mat-icon-button">
      <mat-icon>menu</mat-icon>
    </button>
    <p class="menu-company-name">&nbsp;Beauty Point</p>
  </div>
  <div class="menu-search">
    <input type="text" placeholder="search" class="menu-search-input" />
    <mat-icon class="menu-search-icon">search</mat-icon>
  </div>
  <div class="menu-links">
    <button class="menu-links-item">Workday</button>
    <button class="menu-links-item">Clients</button>
    <button class="menu-links-item">Finance</button>
  </div>
</mat-toolbar>
