:host {
  display: block;
}
.menu {
  justify-content: space-between;
  background-color: white;
  &-logo {
    display: flex;
  }
  &-company-name {
    font-size: 1.6rem;
  }
  &-search {
    position: relative;
    &-input {
      padding: 1rem;
      text-indent: 3rem;
      border: 0.05rem solid black;
      border-radius: 1rem;
      &:focus {
        outline: none;
        border-color: blueviolet;
        transition-timing-function: ease;
      }
    }
    &-icon {
      position: absolute;
      left: 1rem;
      bottom: 0.6rem;
    }
  }
  &-links {
    &-item {
      padding: 0.5rem;
      background: transparent;
      &:not(:first-child) {
        margin-left: 4rem;
      }
    }
  }
}
