// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

/* You can add global styles to this file, and also import other style files */
@import 'global';
html,
body {
  height: 100%;
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
* {
  box-sizing: border-box;
}
